{{ $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList" }}
<article class="{{ if $image.exists }}has-image{{ end }} article-card custom-horizontal-layout" data-date="{{ .Date.Format "2006-01-02" }}" data-original-link="{{ .Params.link }}">
    {{ if $image.exists }}
        <div class="article-image">
            <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">
                {{ if $image.resource }}
                    {{- $Permalink := $image.resource.RelPermalink -}}
                    {{- $Width := $image.resource.Width -}}
                    {{- $Height := $image.resource.Height -}}
                    {{- $Srcset := "" -}}
                    {{- $Thumbnail := "" -}}
                    
                    {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                        {{- $thumbnail := $image.resource.Resize "800x" -}}
                        {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
                        {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                        {{- $Permalink = $thumbnail.RelPermalink -}}
                        {{- $Width = $thumbnail.Width -}}
                        {{- $Height = $thumbnail.Height -}}
                        {{- $Thumbnail = $image.resource.Resize "50x" -}}
                    {{- end -}}

                    <!-- 缩略图占位 -->
                    <img class="image-placeholder" 
                        src="{{ $Thumbnail.RelPermalink }}" 
                        width="{{ $Width }}" 
                        height="{{ $Height }}" 
                        alt="Featured image of post {{ .Title }}"
                        data-original="{{ $Permalink }}"
                        {{ with $Srcset }}data-srcset="{{ . }}"{{ end }} />
                    
                    <!-- 原图预加载 -->
                    <img class="image-full" 
                        src="{{ $Permalink }}"
                        {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                        width="{{ $Width }}" 
                        height="{{ $Height }}" 
                        loading="lazy"
                        alt="Featured image of post {{ .Title }}" />
                {{ else }}
                    <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
                {{ end }}
            </a>
        </div>
    {{ end }}

    <div class="article-details">
        {{ if .Params.categories }}
        <header class="article-category">
            {{ range (.GetTerms "categories") }}
                <a href="{{ .RelPermalink }}">
                    {{ .LinkTitle }}
                </a>
            {{ end }}
        </header>
        {{ end }}

        <div class="article-content-wrapper">
            <h2 class="article-title">
                <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer">
                    {{- .Title -}}
                </a>
            </h2>
            
            <!-- 添加摘要部分 -->
            {{ with .Params.summary }}
            <div class="article-summary">
                {{ . | truncate 150 }}
            </div>
            {{ end }}
        </div>

        <footer class="article-footer">
            {{ if .Params.tags }}
            <div class="article-tags">
                {{ partial "helper/icon" "tag" }}
                <ul class="article-tags-list">
                    {{ range .Params.tags }}
                    <li class="article-tags-list-item">
                        <a href="{{ "tags/" | absURL }}{{ . | urlize }}/" class="article-tags-list-link">
                            {{ . }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            

        </footer>
    </div>
</article> 