{{ $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" }}
<article class="{{ if .Params.pinned }}pinned{{ end }} preview">
    <a href="{{ .RelPermalink }}" class="article-link">
        {{ with $image }}
            <div class="article-image">
                {{ if (default true .IsLazy) }}
                    <img src="{{ .Placeholder }}" data-src="{{ .RelPermalink }}" alt="{{ $.Title }}" 
                        {{ with .Width }}width="{{ . }}"{{ end }}
                        {{ with .Height }}height="{{ . }}"{{ end }}
                        {{ if (default true .IsLazy) }}loading="lazy"{{ end }}
                    />
                {{ else }}
                    <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" 
                        {{ with .Width }}width="{{ . }}"{{ end }}
                        {{ with .Height }}height="{{ . }}"{{ end }}
                        {{ if (default true .IsLazy) }}loading="lazy"{{ end }}
                    />
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details">
            {{ partial "article/components/header" . }}

            {{- with .Summary -}}
            <section class="article-summary">
                {{ . }}
            </section>
            {{- end -}}

            {{ partial "article/components/footer" . }}
        </div>
    </a>
</article> 